
@import 'variables';
@import 'colours';
@import 'fonts';

@import 'bootstrap';

@import 'footer';
@import 'nav';
//@import 'github-corner';

body {
  text-align: center;
  color: $brand-primary;
  font-family: $font-primary;}

h1 {

}

.img-responsive {
  max-height: 70%;
}
