
@import 'variables';
@import 'colours';
@import 'fonts';

@import 'bootstrap';

@import 'footer';
@import 'nav';
//@import 'github-corner';

body {
  text-align: center;
  color: $brand-primary;
  font-family: $font-primary;
  background-image: url('/assets/images/green-planks.jpg');
}

.img-thumbnail {
  background-color: $brand-secondary-1;
  border-color: $brand-primary;
}

#latest-image {
  position:relative;
}

.timestamp {
  bottom: 0px;
  right: 20px;
  position: absolute;
  padding: 10px;
  background-color: transparentize($brand-complement, 0.4);
  font-family: $font-fixed;
  border: 1px solid $brand-primary;
}

.footer {
  background: transparent;
  font-size: 2em;
  a {
    color: $brand-secondary-2;
  }
}
