<div class='row'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <h1>ShedCam</h1>
    <div id='latest-image'>
      <img class='img-responsive img-thumbnail img-rounded' src="assets/images/latest.jpg" />
      <p class='timestamp panel'><%= @timestamp.strftime '%H:%M, %e %B %Y' %></p>
    </div>
  </div>
  <div class='col-md-2'></div>
</div>
